.create-record {
  padding: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
}
